body {
    font-family: 'Arial', sans-serif;
    background-color: #babad5;
    color: #a91313;
    text-align: center; /* text in middil*/
    /* padding: 50px; */
    padding: 0;
    margin: 0;
}

header {
    background: #93aecc;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

footer{
    border-radius: 30px;
    background-color: rgb(179, 226, 210);
    height: 150px ;
    width: 100%;
    position: fixed;/*عشان احرك الفوتر*/
    margin-top: 20%; /*المسافة اللي ببعدها عن الاعلى*/
    padding-top: 80px;
}

a{
    color: #a91313;
    justify-content: center;
    margin: 40px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    
   }


