body {
    font-family: 'Arial', sans-serif;
    background-color: #babad5;
    color: #a91313;
    text-align: center; /* text in middil*/
    padding: 50px;
}

header {
    background: #93aecc;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

footer{
    border-radius: 30px;
    background-color: rgb(179, 226, 210);
    height: 150px ;
    width: 100%;
    
}


