body{
    background-color: cadetblue;
    padding: 0;
    margin: 0;
}


ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: bisque;
    /* position: fixed; */ /*the position of list in top*/
    /* bottom: 0; */
    top: 0;
    position: sticky;/*حتى تثبت القائمة لما ينزل المؤشر*/

    
    width: 100%;
}

li{
    border: 1px solid gray;
    float: left; /*

إضافة الخاصية float: left; لعناصر القائمة تجعل المتصفح غير قادر على تحديد طول القائمة و لكننا نحل هذه المشكلة بإضافة الخاصية overflow: hidden; للقائمة نفسها لكي يتمدد طولها نسبةً لطول العناصر الموضوعة فيها لأننا إن لم نفعل ذلك فإن طولها سيُعتبر صفر و بالتالي لن تظهر في الصفحة.

نود الإشارة إلى أنه يوجد طرق أخرى لحل هذه المشكلة كتحديد طول القائمة نفسها بواسطة الخاصية height و لكن الطريقة التي اتبعناها تعتبر أبسط و أفضل.
*/
}

li a{
    display: block;
    text-decoration: none;
    padding: 12px 16px;
    color: rgb(253, 141, 160);
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

li a:hover{
    color: bisque;
    background-color: rgb(98, 83, 86);
}